*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: lightsalmon;
    color: #fff;
}

header nav{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
    
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input [type=text]{
    flex-grow: 1;
    margin-right: 10px;
    
}
form input [type=text],button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px
}

form button[type="submit"]{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover{
    background-color: #ff5c5c;
}

.recipe-container{
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    padding: 20px;
    place-items: center;
}
.recipe{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    max-width: 350px;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* responsive code */

@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80px;
        margin-top: 20px;
    }
}



